<html>

<head>

    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="author" content="Felix Klauke">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="Browser based chess platform for the ultimate modern fashioned way to play chess online.">
    <meta name="keywords" content="chess,online,play,game,playonline,playchess,chessonline,browser,pvp">

    {% block stylesheets %}
    {% endblock %}
</head>

<body>

{% block bodyContent %}
{% endblock %}

{% block javascripts %}
{% endblock %}

</body>

</html>