<html>

<head>

    <title>{{ title }}</title>
    <meta charset="UTF-8">

    {% block stylesheets %}
    {% endblock %}

</head>

<body>

{% block bodyContent %}
{% endblock %}

{% block javascript %}
{% endblock %}

</body>

</html>